<!DOCTYPE html>
<html>
<head>
  <title>Floccus options</title>
  <style>
  .account {
    border-radius: 0.5cm;
    border: 1px grey solid;
    background: lightblue;
  }
  .account table {
    border: none;
  }
  </style>
</head>
<body>
<template id="account">
  <div class="account">
  <form>
  <table>
  <tr><td><label for=url"">Nextcloud server URL:</label></td><td><input type="text" class="url" name="url"/></td></tr>
  <tr><td><label for="username">User name:</label></td><td><input type="text" class="username" name="password"/></td></tr>
  <tr><td><label for="password">Password:</label></td><td><input type="password" class="password" name="password"/></label></td></tr>
  <table>
  </form>
  </div>
</template>
<div id="accounts">

</div>
<script src="../../lib/chrome-promise.js"></script>
<script src="../js/options.js"></script>
</body>
</html>
