<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Floccus options</title>
  <style>
  body {
    font-size: 14px !important;
    font-family: sans-serif;
  }

  #app {
    width: 500px;
  }

  .test-link:link {
    display: block;
    margin: 3px;
    float: right;
    font-size: 8px;
    color: #3893cc !important;
  }
  </style>
</head>
<body>
<div id="app"></div>
<script src="../js/polyfill.js"></script>
<script src="../../lib/chrome-promise.js"></script>
<script src="../js/options.js"></script>
</body>
</html>
